{% extends "base.html" %}
{% block classResidents %}class="dropdown active"{% endblock %}
{% block content %}

<h1>Profile</h1>

<div>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#residents-home" data-toggle="tab">Home</a></li>
    <li><a href="#residents-packages" data-toggle="tab">Packages</a></li>
    <li><a href="#residents-guest_list" data-toggle="tab">Guest List</a></li>
    <li><a href="#residents-rentals" data-toggle="tab">Rentals</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="residents-home">
      <div class="row-fluid">
        <div class="span6">
          <div>
            <h3>My Guests</h3>
            <hr>
            TODO: display some stats (like your most recent N guests to check in) once we implement guest lists
          </div>
        </div>

        <div class="span6">
          <div style="padding-bottom: 20px;"> <!-- TODO: put this in less, probably? -->
            <h3>My Packages</h3>
            <hr>
            <div id="package-stats">
            </div>
          </div>
          <div>
            <h3>My Rentals</h3>
            <hr>
            TODO: display some stats (like what movies you have checked out and need to return) once we implement movies
          </div>
        </div>
      </div>
    </div><!-- END About -->

    <div class="tab-pane" id="residents-packages">
      For care packages and much, much more.
    </div><!-- END Packages -->

    <div class="tab-pane" id="residents-guest_list">
      More windows than friends? I think not.
    </div><!-- END Guest List -->

    <div class="tab-pane" id="residents-rentals">
      Movies that you've rented.
    </div><!-- END Guest List -->

  </div>

</div>

<script type="text/javascript">
$(function() {
    // TODO SECURITY BUG we shouldn't be passing all packages to this user
    $.getJSON("{% url dormbase.package.views.package_get %}",
    function(packages) {
        var myId = "{{ user.id }}";
        var numPackages = 0;
        var numPerishable = 0;
        for (var i in packages) {
            // TODO note that this will never be true because right now our resident database and Django user table aren't connected
            if (packages[i].recipientId == myId) {
                numPackages += 1;
                if (packages[i].perishable) {
                    numPerishable += 1;
                }
            }
        }
        var stats = "You have " + numPackages + " packages.";
        if (numPerishable) {
            stats += " " + numPerishable + " of your packages are perishable!";
        }
        $("#package-stats").append(stats);
    });
});

</script>

{% endblock %}
