{% extends "base.html" %}
{% block content %}

<h1>Desk Dashboard</h1>

<div>
<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
  <li><a href="#packages" data-toggle="tab">Packages</a></li>
  <li><a href="#guest_list" data-toggle="tab">Guest List</a></li>
  <li><a href="#checkout" data-toggle="tab">Checkout</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home">
    <div class="row-fluid">
      <div class="span6">
	<div>
	  <h3>Guest Sign-in</h3>
	  <hr>
	  <form class="form-inline">
	    <input type="text" class="input span2" placeholder="Firstname">
	    <input type="text" class="input span2" placeholder="Lastname">
	    <label>&nbsp or &nbsp</label>
	    <input type="text" class="input span4" placeholder="MIT Username">
	    <button type="submit" class="btn btn-primary btn-small">Sign-in</button>
	  </form>
	</div>
	<div>
	  <h3>Movie & Game Checkout</h3>
	  <hr>
	  <form class="form-inline">
	    <input type="text" class="input span4" placeholder="Title">
	    <label>and</label>
	    <input type="text" class="input span4" placeholder="Resident">
	    <button type="submit" class="btn btn-primary btn-small">Checkout</button>
	  </form>
	</div>
      </div>

      <div class="span6">
	<h3>Package Management</h3>
	<hr>
	<form id="package-form" class="form-inline">
	  {% csrf_token %}
	  {{ form }}
	  <div class="pull-right">
	    <button class="btn btn-success btn-small" data-toggle="modal" href="#scanPackage">Scan Package</button>
	    <button class="btn btn-danger btn-small">Submit</button>
	  </div>

	</form>
	
	<table class="table table-striped table-condensed" id="package-list">
	  <thead>
	    <tr> 
	      <th></th><th>Name</th><th>Bins</th>
	    </tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>

	<p><icon class="icon-leaf"></icon> = Perishable</p>
      </div>      
    </div>
  </div>
  
  <div class="tab-pane" id="packages">... </div>
  <div class="tab-pane" id="guest_list">...</div>
  <div class="tab-pane" id="checkout">...</div>
</div>

<div class="modal fade" id="scanPackage">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Package Scan</h3>
  </div>
  <div class="modal-body">
    <p>This is where desk workers will be prompted to scan a package.</p>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary" data-dismiss="modal">Save</a>
  </div>
</div>

</div>

<div id="ajax-helper" style="display:none">
  {% csrf_token %}
  <div style='display:none'><input type='hidden' name='post-url' value="{% url dormbase.package.views.package_remove %}" /></div>
</div>

<script type="text/javascript">
function makePackageRow(row) {
    function showIconIfNeeded(perishable) {
        if (perishable) {
           return '<icon class="icon-leaf"></icon>';
        }
        return '';
    }
    return "" + 
        "<tr" + " id='p" + row.id + "'>" +
        " <td>" + showIconIfNeeded(row.perishable) + "</td>" +
        " <td>" + row.recipient + "</td>" +
        " <td>" + row.location + "</td>" + 
        " <td>" +
        "  <form class='release-form' action=''>" +
        "   <input type='hidden' name='package_id' value='" + row.id + "'>" +
        "   <input type='hidden' name='csrfmiddlewaretoken' value='" + $("#ajax-helper input[name='csrfmiddlewaretoken']").val() + "'>" +
        "   <button class='btn btn-small pull-right'>Release</button>" +
        "  </form>" +
        " </td>" + 
        "</tr>";
}

function addPackageRow(package){
    $("#package-list > tbody:last").append(makePackageRow(package));
    function packageRelease() {
        var package = $(this).serialize();
        $.post("{% url dormbase.package.views.package_remove %}", package, function(data){
            var id = "#" + data.id;
            $(id).remove();
        }, "json");

       return false;
    }

    $("#package-list .release-form:last").submit(packageRelease);
}

$(function() {
    $.getJSON("{% url dormbase.package.views.package_get %}", 
    function(packages) {
        $("#package-list tbody").html("");
        for (var i in packages) {
            addPackageRow(packages[i]);
        }
    });
    $("#myTab").tab('show');

    $("#package-form").submit(function(){
        var package = $(this).serialize();
        $.post("{% url dormbase.package.views.package_add %}", package, function(data){addPackageRow(data);}, "json");
        return false;
    });

});

</script>

{% endblock %}
