{% extends "base.html" %}
{% block content %}

<div id="content-main">
    <h1>Login</h1>

    <form method="post" action="{% url django.contrib.auth.views.login %}">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <span>
        Don't have an account? <a href="{% url registration.views.register %}">Register for one!</a>
    </span>
</div>

{% endblock %}
