{% extends "base.html" %}
{% block content %}

<section class='row'>

  <div class="thumbnail span4">
    <img src="{{movie.cover.get_display_url}}">
  </div>
  <div class="span6">

    <a href="http://www.imdb.com/title/tt{{movie.imdbId}}/">
      <h2>{{movie.title}}</h2>
    </a>
   
    <small>{{movie.year}} | {{movie.runtimes}} min | {{movie.mpaa}}</small>

    <hr>
    
    <b>Plot</b>
    <p>{{movie.plot}}</p>

    <details>
      <summary><b>Director & Cast</b></summary>
      <p>Directed by {{movie.director}}.</p>
      <p>Starring {{movie.cast}}.</p>
    </details>

    <hr>
    <div id="reserve-alert" class="alert-success fade in">
      <p><strong>Reserved!</strong> You have 15 minutes to pick up the movie. Get going!</p>
    </div>

    {% if movie.available %}
    <form id="movie-form" action="">
      {% csrf_token %}
      <input type="hidden" name="imdbId" value="{{ movie.imdbId }}">
      <button id="reserve-btn" class="btn btn-success pull-right">Reserve Now</button>
    </form>

    {% else  %}

    <button id="reserve-btn" class="btn btn-info pull-right disabled">Unavailable</button>
    
    {% endif  %}

  </div>
</section>

<script type="text/javascript">
    $(function() {
        $("#reserve-alert").hide();
        $("#movie-form").submit(function(){
            var movie = $(this).serialize();
            $.post("{% url dormbase.movie.views.movie_reserve %}", movie).success(function(){
                $("#reserve-btn").hide();
                $("#reserve-alert").show();
                })
            return false;
        });
    });
</script>

{% endblock%}
