{% extends "base.html" %}
{% block content %}

<section class='row'>
  <div class="thumbnail span4">
    <img src="{{movie.coverUrl}}">
  </div>
  <div class="span6">
    <a href="http://www.imdb.com/title/tt{{movie.imdbId}}/">
      <h2>{{movie.title}} ({{movie.year}})</h2>
    </a>
    <small>{{movie.year}} | {{movie.runtimes}} min</small>
    <hr>
    <p>
      {{movie.plot}}
    </p>
    <p>
      {{movie.mpaa}}.
    </p>
    <hr>
    <button class="btn-success pull-right">Reserve Now</i></button>
  </div>
</section>

{% endblock%}
