{% extends "base.html" %}
{% block classMediaContent %}class="active"{% endblock %}
{% block content %}
<div id="main">
  <div id="left">
    <a href="{% url dormbase.movie.views.genre_list %}" id="media" class="feature">Media</a>
  </div>
  <div id="right">
    <div id="movies" class="info-box">
      <h1>Movies</h1>

      <p>Watch something new, or browse by genre.</p>
      <h2><a href="{% url dormbase.movie.views.genre_get genreType="New" viewType="gallery" %}">[new]</a></h2>
      <div id="new-movies">
	{% for movie in newAdditions %}
	<div class="movie">
	  <a href="{% url dormbase.movie.views.movie_detail movie.imdbId %}">
	    <img src="{{movie.cover.get_thumbnail_url}}" alt="" />
	  </a>
	</div>
	{% endfor %}
      </div>
      <h2>[genres]</h2>
      <ul id="genres">
	{% for genre in genres %}
	<li><a href="{% url dormbase.movie.views.genre_get genreType=genre viewType="gallery" %}" >{{ genre }}</a></li>
	{% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}

