{% extends "base.html" %}
{% block content %}

<section class='row'>
  <div class="thumbnail span4">
    <img src="{{movie.cover.get_display_url}}">
  </div>
  <div class="span6">
    <a href="http://www.imdb.com/title/tt{{movie.imdbId}}/">
      <h2>{{movie.title}}</h2>
    </a>
   
    <small>{{movie.year}} | {{movie.runtimes}} min | {{movie.mpaa}}</small>

    <hr>
    
    <b>Plot</b>
    <p>{{movie.plot}}</p>

    <details>
      <summary><b>Director & Cast</b></summary>
      <p>Directed by {{movie.director}}.</p>
      <p>Starring {{movie.cast}}.</p>
    </details>

    <hr>

    <button class="btn-success pull-right">Reserve Now</button>
  </div>
</section>

{% endblock%}
