{% extends 'base.html' %}
{block content}

<!--
<script>
    $(function() {
        $("#searchterm").autocomplete({
            source: "directory_json",
            minLength: 2,
            select: function( event, ui ) {
                alert( ui.item ?
                    "Selected: " + ui.item.value + " aka " + ui.item.id :
                    "Nothing selected, input was " + this.value );
            }
        });
    });
</script>
-->

<h1>HI IM AUTOCOMPLETE</h1>
<div>
      <form class="well form-search">
        <input id="searchterm" type="text" class="input-medium search-query">
        <button type="submit" class="btn">Search</button>
      </form>
</div>

{endblock}
