{% extends "base.html" %}
{% block activeDirectory %}class="active"{% endblock %}
{% block content %}
<!--
<script>
    $(function() {
        $("#searchterm").autocomplete({
            source: "directory_json",
            minLength: 2,
            select: function( event, ui ) {
                alert( ui.item ?
                    "Selected: " + ui.item.value + " aka " + ui.item.id :
                    "Nothing selected, input was " + this.value );
            }
        });
    });
</script>

<h1>Directory Search</h1>
<div>
      <form class="well form-search">
        <input id="searchterm" type="text" class="input-medium search-query">
        <button type="submit" class="btn">Search</button>
      </form>
</div>
-->

<script>
$("#firstname").keypress(function() {
    alert("Handler for .keypress() called.");
});
</script>

<div class="row">     
<div class="span4">
<form class="form-horizontal">
<fieldset>
<legend>Search the Directory</legend>
<div><p><br/>Enter data in any or all of the below fields.
'%' matches anything - e.g. username 'dram%' matches 'dramage'.</p></div>
<p>&nbsp;</p>
<div class="control-group">
    <label for="firstname">First name</label>
    <div class="controls">
        <input id="firstname" type="text" class="input-medium">
    </div>
</div>
<div class="control-group">
    <label for="lastname">Last name:</label>
    <div class="controls">
        <input id="lastname" type="text" class="input-medium">
    </div>
</div>
<div class="control-group">
    <label for="title">Title:</label>
    <div class="controls">
        <input id="title" type="text" class="input-medium">
    </div>
</div>
<div class="control-group">
    <label for="username">Username:</label>
    <div class="controls">
        <input id="username" type="text" class="input-medium">
    </div>
</div>
<div class="control-group">
    <label for="room">Room:</label>
    <div class="controls">
        <input id="room" type="text" class="input-medium">
    </div>
</div>
<div class="control-group">
    <label for="year">Year:</label>
    <div class="controls">
        <select id="year" class="input-medium"></select>
    </div>
</div>
<div class="control-group">
    <label for="lounge">Lounge:</label>
    <div class="controls">
        <select id="lounge" class="input-medium"></select>
    </div>
</div>
<div class="control-group">
    <label for="grt">GRT:</label>
    <div class="controls">
        <select id="grt" class="input-medium"></select>
    </div>
</div>

<div class="form-actions">
    <button type="submit" class="btn btn-primary">Search Directory</button>
    <button type="reset" class="btn">Clear</button>
</div>
</fieldset>
</form>
</div>

<div class="span8">
<h2>Results</h2>
hi im 8</div>
</div>

{% endblock %}

