<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simmons Hall</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="../static/ico/favicon.png">
    <link rel="apple-touch-icon" href="../static/ico/apple-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/ico/apple-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/ico/apple-114x114.png">
  </head>

  <body>
    <div id="wideDarkPanel">
      <div class="container" id="mainArea">
	<div id="colorful-simmons">
	</div>
	<div class="container" id="simmons-pushdown">
	</div>
	<div class="darkPanel" id="topPanel">
	  <div id="simmons-logo">
	    <h1>Simmons Hall</h1>
	  </div>
	  <div class="container" id="simmons-nav">
	  </div>
	</div>
	<div class="container" id="content">
	  {% block content %}
	  {% endblock %}
	</div>
      </div>
      <div class="darkPanel" id="bottomPanel">
	<div class="container" id="simmons-nav">
	  {% block footer %}
	  {% endblock %}
	</div>
      </div>
    </div>

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap-transition.js"></script>
    <script src="../static/js/bootstrap-alert.js"></script>
    <script src="../static/js/bootstrap-modal.js"></script>
    <script src="../static/js/bootstrap-dropdown.js"></script>
    <script src="../static/js/bootstrap-scrollspy.js"></script>
    <script src="../static/js/bootstrap-tab.js"></script>
    <script src="../static/js/bootstrap-tooltip.js"></script>
    <script src="../static/js/bootstrap-popover.js"></script>
    <script src="../static/js/bootstrap-button.js"></script>
    <script src="../static/js/bootstrap-collapse.js"></script>
    <script src="../static/js/bootstrap-carousel.js"></script>
    <script src="../static/js/bootstrap-typeahead.js"></script>

  </body>
</html>