<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simmons Hall</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.png">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}ico/apple-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}ico/apple-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}ico/apple-114x114.png">
  </head>

  <body>
    <div class="topDarkPanel">
      <div class="container" id="header">
	<img id="simmons-hall" src="{{ STATIC_URL }}img/simmonsHall.png" width="475px" height="44px" alt="Simmons Hall" />
	<img id="simmons-logo" src="{{ STATIC_URL }}img/colorfulSimmons.png" width="185px" height="268px" alt="Simmons logo" />
      </div>
      <div class="container" id="simmons-nav">
	<div class="subnav">
	 <ul class="nav nav-pills">   
	    <li {% block activeHome %}{% endblock %}><a href="/#">Home</a></li>
	    <li {% block activeDirectory %}{% endblock %}><a href="/directory">Directory</a></li>
	    <li {% block activePersonal %}{% endblock %} class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="personal">
		Personal
		<b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
		<li><a href="/#">Packages</a></li>
		<li><a href="/#">Guest List</a></li>
		<li><a href="/#">Lounges</a></li>
		<li><a href="/#">Mailing Lists</a></li>
		<li><a href="/#">Reuse</a></li>
		<li class="divider"></li>
		<li><a href="/#">Profile <i class="icon-user"></i></a></li>
	      </ul>
	    </li>
	    <li {% block activeMediaContent %}{% endblock %} class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="mediaContent">
		Media
		<b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
		<li><a href="/movies">Movies</a></li>
		<li><a href="/#">Games</a></li>
		<li><a href="/#">Library</a></li>
	      </ul>
	    </li>
	    <li {% block activeGovernment %}{% endblock %} class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="government">
		Government
		<b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
		<li><a href="/#">Proposals</a></li>
		<li><a href="/#">Meetings</a></li>
		<li><a href="/#">Finances</a></li>
		<li><a href="/#">Polls</a></li>
		<li class="divider"></li>
		<li><a href="/#">Reimbursement</a></li>
	      </ul>
	    </li>
	    <li {% block activeFacilities %}{% endblock %} class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="#facilities">
		Facilities
		<b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
		<li><a href="/#">Laundry View</a></li>
		<li><a href="/#">Rooming</a></li>
		<li><a href="/#">Floor Plans</a></li>
		<li><a href="/#">Report a Problem</a></li>
		<li class="divider"></li>
		<li><a href="/#">Reservations</a></li>
	      </ul>
	    </li>
	  </ul>
	</div>
      </div>
      <div class="container" id="content">
	{% block content %}
	{% endblock %}
      </div>
      <div class="darkPanel" id="bottomPanel">
	<div class="container" id="simmons-footer">
	  {% block footer %}
	  {% endblock %}
	</div>
      </div>
    </div>
    
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
  </body>
</html>
