{% extends "base.html" %}
{% block classFacilities %}active{% endblock %}
{% block content %}

<div id="main">
  <div id="left">
    <a href="{% url dormbase.laundry.views.laundry %}" id="laundry" class="feature">Laundry</a>
  </div>
  <div id="right">
    <div id="laundry-view" class="info-box">
      <h1>Laundry</h1>

      <p>Because it's good to have clean clothes.</p>
      <h2>[Simmons] <a id="laundry-viewall" href="http://laundryview.com/lvs.php">(display all)</a></h2>
      {% for dorm,status in laundry.items %}
      
      <p>{{dorm}}: {{status}}</p>
      
      {% endfor %}

    </div>
  </div>
</div>

{% endblock %}
