{% extends "base.html" %}
{% block classPersonal %}class="dropdown active"{% endblock %}
{% block content %}

<h1>Profile</h1>

<div >
<ul class="nav nav-tabs">
  <li class="active"><a href="#personal-about" data-toggle="tab">About</a></li>
  <li><a href="#personal-packages" data-toggle="tab">Packages</a></li>
  <li><a href="#personal-guest_list" data-toggle="tab">Guest List</a></li>
  <li><a href="#personal-lounges" data-toggle="tab">Lounges</a></li>
  <li><a href="#personal-mailing_lists" data-toggle="tab">Mailing Lists</a></li>
  <li><a href="#personal-reuse" data-toggle="tab">Reuse</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="personal-about">
    Manage your personal info.
  </div><!-- END About -->
  
  <div class="tab-pane" id="personal-packages">
    For care packages and much, much more.
  </div><!-- END Packages -->

  <div class="tab-pane" id="personal-guest_list">
    More windows than friends? I think not.
  </div><!-- END Guest List -->
  
  <div class="tab-pane" id="personal-lounges">
    Get paid to hang out.
  </div><!-- END Lounges-->

  <div class="tab-pane" id="personal-mailing_lists">
    Like drinking from a firehose... for people who like lots of unread emails.
  </div><!-- END Mailing Lists-->
  
  <div class="tab-pane" id="personal-reuse">
    One man's trash in another one's treasure. Find cool stuff people
    are giving away for free!
  </div><!-- END Reuse -->

  
</div>

</div>
<script type="text/javascript">
  $(function() {
  $(".collapse").collapse();
  $("#myTab").tab('show');
});
</script>

{% endblock %}