{% extends "base.html" %}
{% block content %}

<h1>Desk Dashboard</h1>

<div >
<ul class="nav nav-tabs">
  <li><a href="#home" data-toggle="tab">Home</a></li>
  <li><a href="#packages" data-toggle="tab">Packages</a></li>
  <li><a href="#guest_list" data-toggle="tab">Guest List</a></li>
  <li><a href="#checkout" data-toggle="tab">Checkout</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home">...</div>
  <div class="tab-pane" id="packages">
    <form class="form-inline pull-right">
      <input type="text" class="input" placeholder="username">
      <select>
	<option>Bin</option>
	<option>A</option>
	<option>B</option>
	<option>C</option>
	<option>D</option>
	<option>Floor</option>
      </select>
      <label class="checkbox">
	Perishable<input type="checkbox">
      </label>
      <button class="btn btn-success">Scan Package</button>
      <button class="btn btn-danger">Submit</button>
    </form>
    
      <table class="table table-striped table-condensed">
	<thead>
	  <tr> 
	    <th>Resident</th><th>Bins</th><th>Perishable</th>
	  </tr>
	</thead>
	<tbody>
	  {% for r in packages %}
	  <tr>
	    <td>{{r.username}}</td>
	    <td>{{r.location}}</td>
	    <td>{{r.perish}}</td>
	    <td>
	      <button class="btn btn-small pull-right">Release</button>
	    </td>
	  </tr>
	  {% endfor  %}
	</tbody>
      </table>
    
  </div>
  <div class="tab-pane" id="guest_list">...</div>
  <div class="tab-pane" id="checkout">...</div>
</div>

</div>
<script type="text/javascript">
  $(function() {
  $(".collapse").collapse();
  $("#myTab").tab('show');
});
</script>

{% endblock %}
